<form action="/location" method="POST">
  <div class="box">
    <input type="text" name="location[latitude]" placeholder="Latitude" />
  </div>
 <div class ="box">
    <input type="text" name="location[longitude]" placeholder="Longitude" />
  </div>
  <div class = "box">
    <button>
    Where are you
  </button>
  </div>
</form>
