<!DOCTYPE html>
<html>
  <head>
    <title>Getting Around</title>
    <link rel="stylesheet" href="/train.css"/>
  </head>
  <body>
    <h1> <span>Welcome. Please enter your location.</span> </h1>
    <p></p>
    <%= yield %>

  </body>
</html>
